h4.card-header {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    background: #eee;
    margin: 0 !important;
}
.card.h-100 {
    border: 1px solid #ccc;
    margin-bottom: 20px;
}
.card-body {
    padding: 10px;
    background: #dfdcdf;
}
.card-footer {
    border-top: 1px solid #ccc;
    background: #eee;
    padding: 10px;
}

.cust-width{
    width: 300px;
    float: right;
}