section{
    margin: 1em;
}

.card-body > a {
    background: #538ae433;
    padding: 8px 25px;
    border-radius: 50px;
    color: #538AE4;
    text-decoration: none;
}
.card-body{
    padding: 10px 25px 0px 0px;
    float: left;
}
.borderLeft{
    border-left: 1px solid #cccccc;
    height: 350px;
}
.col-md-2 >div > p > a {
    padding-left: 25px;
}