@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@ngx-share/button/styles/share-buttons.css';
@import '~@ngx-share/button/styles/themes/default/default-theme.css';


body, input[text], button {
  color: #000;
}
html{
  overflow-x: hidden;
}
* {
  font-family: Arial, Helvetica, sans-serif;
}
a {
  cursor: pointer;
  text-decoration: none !important;
}
p.card-text {
  word-break: break-all;
}
.navbar-nav>li>a:active {
  color: #000;
  background: #aeaeae;
}
.card-footer{
  display: flex;
  justify-content: space-between;
}
pagination-controls{
  display: table;
  margin-bottom: 50px;
}